/* Order to start applying responsive design is prefered int the following way
Base + Typography > General Layout + Grid > page layout > components
*/
/*COLORS*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Manrope'; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.navbar {
  padding: 2rem 15rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  background-color: #fff; }
  .navbar__links {
    display: flex;
    align-items: center;
    gap: 3.6rem;
    margin-left: auto; }
  .navbar__link {
    text-decoration: none;
    color: #33354D;
    font-weight: 600; }
    .navbar__link-active {
      color: #A021F0; }
  .navbar__link:active, .navbar__link:hover {
    color: #A021F0; }
  .navbar__account {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-left: 2.9rem; }
    .navbar__account--sign-in {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 9px 20px;
      height: 3.6rem;
      gap: 8px;
      border: 1px solid rgba(99, 102, 241, 0.35);
      border-radius: 4px;
      color: #A021F0; }
    .navbar__account--sign-up {
      display: flex;
      align-items: center;
      padding: 9px 20px;
      height: 3.6rem;
      gap: 8px;
      background: #A021F0;
      border-radius: 4px;
      color: #fff; }
      .navbar__account--sign-up:active, .navbar__account--sign-up:hover {
        color: #fff; }

.btn {
  padding: 1.3rem 4rem;
  text-decoration: none;
  border-radius: .6rem;
  font-weight: 600;
  font-size: 1.6rem;
  max-width: 25rem;
  transition: all .2s;
  white-space: nowrap; }

.btn:hover, btn:active {
  box-shadow: 0px 8px 18px -8px rgba(160, 33, 240, 0.8); }

.btn-filled {
  background-color: #A021F0;
  color: #fff; }

.btn-outlined {
  background-color: transparent;
  color: #A021F0;
  border: 1px solid #A021F0; }

.btn-white {
  background-color: #FFFFFF;
  color: #33354D; }

btn-white:active, .btn-white:hover {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15); }

.footer {
  padding: 7.2rem  17rem 6.5rem 15rem;
  background: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 600;
  display: grid;
  grid-template-areas: "b b b b . . l l l l l " "n n n n . . p p . . . " "r r r r . . . . . . . ";
  column-gap: 9rem;
  row-gap: 4rem; }
  .footer__brand {
    grid-area: b;
    font-size: 1.4rem;
    font-weight: 400; }
    .footer__brand__description {
      margin-top: 2.5rem;
      line-height: 2.2rem;
      color: #565973; }
  .footer__links {
    grid-area: l;
    display: flex;
    gap: 15rem; }
    .footer__links__col {
      display: flex;
      flex-direction: column;
      gap: .8rem; }
  .footer__link {
    text-decoration: none;
    color: #33354D; }
  .footer__newsletter {
    grid-area: n; }
    .footer__newsletter__form {
      display: flex;
      flex-direction: column; }
      .footer__newsletter__form__label {
        font-size: 1.4rem;
        margin-bottom: .8rem; }
      .footer__newsletter__form__input {
        display: flex; }
        .footer__newsletter__form__input__email {
          padding: 1.2rem 12.4rem 1.2rem 4rem;
          width: 100%;
          background-image: url(../img/newsletter-input.png);
          background-repeat: no-repeat;
          background-position: 1.1rem 1.4rem;
          border: 1px solid #D4D7E5;
          border-radius: .6rem;
          font-family: 'Manrope';
          letter-spacing: .1rem; }
        .footer__newsletter__form__input__submit {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1.1rem 2.8rem;
          width: 12.4rem;
          margin-left: -12.4rem;
          border: none;
          background: #A021F0;
          border-radius: 0 .6rem .6rem  0;
          color: #fff;
          cursor: pointer;
          font-weight: 600;
          font-family: 'Manrope'; }
  .footer__policies {
    grid-area: p;
    display: flex;
    flex-direction: column;
    gap: .8rem; }
  .footer__copyrights {
    grid-area: r;
    font-size: 1.2rem;
    color: #9397AD;
    margin-top: 2rem;
    font-weight: 400; }

.slideshow-container {
  position: relative;
  margin: auto; }

.containers {
  display: none;
  animation-name: fade;
  animation-duration: .3s; }

.carousel__slider {
  height: .5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem; }

.carousel-indicator {
  width: .7rem;
  height: .7rem;
  border-radius: .6rem;
  background-color: #B4B7C9; }

.enable {
  background-color: #A021F0;
  width: 2.5rem;
  height: .7rem;
  border-radius: .6rem;
  transition: all .2s; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .2s;
  animation-name: fade;
  animation-duration: .2s; }

.fade-in {
  animation-name: in;
  animation-duration: 6s; }

@-webkit-keyframes fade {
  from {
    transform: translateX(-100vw); }
  to {
    transform: translateX(0rem); } }

@keyframes fade {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(50vw); } }

@keyframes in {
  from {
    transform: translateX(-50vw); }
  to {
    transform: translateX(0); } }

.header {
  display: flex;
  padding: 5rem 12rem;
  background: linear-gradient(90deg, rgba(137, 207, 240, 0.1) 0%, rgba(160, 32, 240, 0.1) 64.58%, rgba(160, 32, 240, 0.1) 100%); }
  .header__description {
    gap: 1rem;
    padding-top: 10rem; }
    .header__description__welcome {
      font-weight: 800; }
    .header__description__details {
      margin-top: 2.4rem;
      color: #565973; }
  .header__buttons {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem; }

.customers {
  padding: 5rem 15rem 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-image: url(../img/homepage/circle-customers.png);
  background-repeat: no-repeat;
  background-position: 102% 8%;
  background-size: 7%; }
  .customers__subtitle {
    color: #565973; }
  .customers__stats {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 100%; }
    .customers__stats__card {
      border: 1px solid rgba(99, 102, 241, 0.35);
      border-radius: .8rem;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all .2s;
      cursor: pointer; }
    .customers__stats__card:hover {
      border: 1px solid rgba(160, 33, 240, 0.35);
      box-shadow: 0px 8px 18px -8px rgba(160, 33, 240, 0.9); }

.benefits {
  background-color: #FBF4FE;
  text-align: center;
  padding: 12rem 15rem 12rem; }
  .benefits__cards {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 100%; }
  .benefits__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 2rem;
    background-color: #fff;
    border: 1px solid #E2E5F1;
    border-radius: .8rem;
    padding: 2rem;
    transition: all .2s; }
  .benefits__card:hover {
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03); }

.services {
  padding: 12rem 15rem 12rem;
  background-image: url(../img/homepage/circle-services.png), url(../img/homepage/circle-customers.png);
  background-repeat: no-repeat;
  background-size: 5%, 5%;
  background-position: left 10%, right bottom; }
  .services__sub {
    display: flex;
    justify-content: space-between; }
    .services__sub__heading-sub {
      flex-basis: 70%;
      color: #9397AD;
      margin-top: 1rem; }
    .services__sub__btn {
      display: flex;
      align-items: flex-end; }
  .services__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 10rem;
    margin-top: 10rem; }
  .services__card {
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    padding: 6rem 4rem 4rem;
    border-radius: .8rem; }
    .services__card__head {
      display: flex;
      align-items: center;
      gap: 1rem; }
    .services__card__icon {
      transform: translateY(-105%);
      position: absolute; }
    .services__card__heading {
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 3.3rem; }
    .services__card__details {
      font-size: 1.4rem;
      font-weight: 400;
      color: #565973;
      margin-top: 1.6rem; }

.cta {
  padding: 15rem 15rem 15rem;
  display: flex;
  flex-direction: column;
  gap: 20rem;
  background: linear-gradient(180deg, rgba(241, 244, 253, 0.01) 0%, rgba(218, 70, 239, 0.07) 50%, rgba(99, 102, 241, 0.09) 100%); }
  .cta__customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-repeat: no-repeat;
    background-position: 102% 8%;
    background-size: 7%; }
  .cta__subtitle {
    word-wrap: break-word;
    width: 50%;
    text-align: center;
    color: #9397AD; }
  .cta__row2 {
    display: flex;
    justify-content: space-between;
    gap: 25rem; }
    .cta__row2__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem; }
      .cta__row2__description__sub-heading {
        word-wrap: break-word;
        width: 70%; }
      .cta__row2__description__stats {
        border-top: 1px solid #E2E5F1;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-top: 1rem;
        padding: 2rem 0; }
    .cta__row2__illustration {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .cta__row2__illustration__image {
        width: 100%; }

.package {
  padding: 12rem 15rem 12rem;
  display: flex;
  gap: 15rem;
  justify-content: space-between;
  align-items: center; }
  .package__description {
    display: flex;
    flex-direction: column; }
    .package__description > .heading-tertiary {
      color: #9397AD;
      word-wrap: break-word;
      width: 80%;
      margin-top: 1.3rem; }
  .package__features__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #0B0F19;
    margin-top: 4rem; }
  .package__features__list {
    margin: 2rem 0 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; }
    .package__features__list__item {
      list-style: none;
      display: grid;
      grid-template-columns: 0 1fr;
      gap: 3rem;
      color: #565973;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.8rem; }
    .package__features__list__item::before {
      content: url("../img/list-style.png");
      font-size: 2.4rem; }
  .package__card {
    padding: 2.4rem;
    background: #A020F0;
    box-shadow: 0px 8px 18px -8px rgba(160, 32, 240, 0.5);
    border-radius: 8px; }
    .package__card__frame {
      border: 1px solid rgba(255, 255, 255, 0.15);
      -webkit-background-clip: padding-box;
      /* for Safari */
      background-clip: padding-box;
      /* for IE9+, Firefox 4+, Opera, Chrome */
      border-radius: 8px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 7rem 11rem;
      color: #fff; }
      .package__card__frame > .btn {
        margin-top: 5rem; }
    .package__card__title {
      text-align: center; }
    .package__card__heading {
      font-size: 2.8rem; }
    .package__card__sub-heading {
      margin-top: .8rem;
      font-size: 1.8rem;
      opacity: .7;
      font-weight: 400;
      line-height: 2.8rem; }
    .package__card__price {
      text-align: center;
      margin-top: 4rem; }
      .package__card__price > .base-text {
        opacity: .5;
        color: #fff;
        margin-top: 1rem; }

.reviews {
  padding: 12rem 15rem 12rem;
  background-color: #FBF4FE;
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 2.4rem; }
  .reviews__title {
    background-color: #A021F0;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 9rem;
    padding-right: 9rem;
    align-items: center;
    box-shadow: 0px 8px 18px -8px rgba(160, 32, 240, 0.5);
    border-radius: .8rem; }
  .reviews__carousel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.8rem;
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    border-radius: 8px;
    background-color: #fff; }
    .reviews__carousel__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .reviews__carousel__top > img {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: .8rem; }
    .reviews__carousel__navigation {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .reviews__carousel__navigation > a {
        cursor: pointer; }
        .reviews__carousel__navigation > a:active {
          transform: translateY(1px); }
    .reviews__carousel__body {
      padding: 4rem 0; }
      .reviews__carousel__body > .heading-quaternary {
        color: #565973;
        word-wrap: break-word;
        width: 95%; }
      .reviews__carousel__body__profile {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between; }
        .reviews__carousel__body__profile__person {
          display: flex;
          align-items: center;
          gap: 1.6rem; }
          .reviews__carousel__body__profile__person__details-name {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2.5rem; }
          .reviews__carousel__body__profile__person__details-profession {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.2rem;
            color: #9397AD; }
        .reviews__carousel__body__profile__socials {
          display: flex;
          align-items: center;
          gap: .8rem; }
    .reviews__carousel__slider {
      margin-top: 1rem; }

.heading-master {
  font-size: 6.4rem;
  font-weight: 800; }

.heading-primary {
  font-size: 4.8rem;
  line-height: 6.2rem;
  font-weight: 800; }

.heading-secondary {
  font-size: 4rem;
  font-weight: 800;
  line-height: 5.2rem; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem; }

.heading-quaternary {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem; }

.heading-highlighted {
  color: #A021F0; }

.heading-bold {
  font-weight: 800; }

.base-text {
  font-size: 1.6rem;
  color: #565973; }
